<div class="container">
  <div class="outer-box">
    <div class="box">
      <div class="box-options">
        <div class="tab">
          <div class="text">
            <p>Adults (+12 years)</p>
          </div>
          <div class="buttons">
            <button [ngClass]="{'button-disabled': !canRemoveAdult, 'button-enabled': canRemoveAdult}" [disabled]="!canRemoveAdult" (click)="decreaseSelection(PassengerType.Adult)">-</button><button class="text-button">{{ adultCount }}</button><button [ngClass]="{'button-disabled': !canAddAdult, 'button-enabled': canAddAdult}" [disabled]="!canAddAdult" (click)="increaseSelection(PassengerType.Adult)">+</button>
          </div>
        </div>
        <div class="tab">
          <div class="text">
            <p>Children (2-11 years)</p>
          </div>
          <div class="buttons">
              <button [ngClass]="{'button-disabled': !canRemoveChild, 'button-enabled': canRemoveChild}" [disabled]="!canRemoveChild" (click)="decreaseSelection(PassengerType.Child)">-</button><button class="text-button">{{ childCount }}</button><button [ngClass]="{'button-disabled': !canAddChild, 'button-enabled': canAddChild}" [disabled]="!canAddChild" (click)="increaseSelection(PassengerType.Child)">+</button>
          </div>
        </div>
        <div class="tab">
          <div class="text">
            <p>Babies (-2 years)</p>
          </div>
          <div class="buttons">
              <button [ngClass]="{'button-disabled': !canRemoveBaby, 'button-enabled': canRemoveBaby}" [disabled]="!canRemoveBaby" (click)="decreaseSelection(PassengerType.Baby)">-</button><button class="text-button">{{ babyCount }}</button><button [ngClass]="{'button-disabled': !canAddBaby, 'button-enabled': canAddBaby}" [disabled]="!canAddBaby" (click)="increaseSelection(PassengerType.Baby)">+</button>
          </div>
        </div>
      </div>
      <div class="svg">
        <svg x="0px" y="0px" height="100%" viewBox="0 0 31.463 31.463" style="enable-background:new 0 0 31.463 31.463;">
          <g>
            <circle cx="15.698" cy="2.644" r="2.644" style="fill: #aba8af;"></circle>
            <path d="M21.396,8.791c0,0,0.148-2.953-2.968-2.953h-5.403c-3.005,0-2.983,2.727-2.985,2.953l0.001,8.38 c0.049,0.452,0.495,0.967,1.049,0.967c0.551,0,0.956-0.499,1.006-0.952l0.938,13.346c0.069,0.679,0.549,0.932,1.139,0.932 c0.589,0,1.068-0.253,1.137-0.932h0.833c0.072,0.679,0.55,0.932,1.137,0.932c0.591,0,1.07-0.253,1.141-0.932l0.966-13.354 c0,0.453,0.438,0.963,0.992,0.963c0.552,0,0.993-0.517,1.042-0.969L21.396,8.791z" style="fill: #aba8af;">
            </path>
          </g>
        </svg>
      </div>
      <p>{{ resultString }}</p>
    </div>
  </div>
</div>